@import url('https://fonts.googleapis.com/css?family=Raleway');
/*font-family: 'Raleway', sans-serif;*/

/* Navigation */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: orange;
    text-decoration: none;
    color: #f2f2f2;

}

.active{
    background-color: orange;
    text-decoration: none;
    color: #ddd;
    
}
/*Profile */

h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 46px;
    line-height: 1.2em;
    letter-spacing: 0em;
    text-decoration: none;
    text-transform: none;
    color: #333;
    text-align: center;
    max-width: 600px;
    margin: auto;
    
}

body{
    font-family: 'Raleway', sans-serif;
    background-image: url('../images/tic-tac-toe.png');
    background-repeat: repeat;
    background-color: #f2f2f2;
    
    line-height: 2,5em;
    font-weight: 900;
    padding-bottom: 70px;
}

.our-content{
    max-width: 600px;
    margin: auto;
    line-height: 2,5em;
    padding-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    text-align: center;
}

.kuva {
    border-radius: 5px;

    margin: auto; 
    
    display: block;
   
}
/* Project site (remember to put the href into a link not path to local file! */
.projects-body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    max-width: 900px;
    margin: auto;
    padding-top: 25px;
    line-height: 2,5em;
    font-weight: 900;
}



.Yoxi {
    display: block;
    margin: auto;
    border-radius: 5px;
    float: right;

}

.projects-body2 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    max-width: 900px;
    margin: auto;
    padding-top: 300px;
    line-height: 2,5em;
    font-weight: 900;
    
}
.pageimage {
    display: block;
    margin: auto;
    border-radius: 5px;
    float: left;
    padding-bottom: 70px;
}

/* CV page*/

.btn {
    background-color:orange;
    border: none;
    color: white;
    margin: auto;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;

  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color:rgb(218, 108, 19);
  }


